@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Valorant;
    src: url(../fonts/valorant_font.ttf)
 }

 @font-face {
    font-family: Tungsten;
    src: url(../fonts/tungsten_bold.ttf)
 }

.bg-val{
    background-color: #0F1922;
}

.font-val{
    font-family: Valorant;
}

.font-tungsten{
    font-family: Tungsten;
}

.glass-effect {
    background: hsla(0, 0%, 100%, 0.1); 
    backdrop-filter: blur(2px);
}
.glass-effect-button {
    background: hsla(0, 0%, 100%, 0.1); 
    backdrop-filter: blur(15px);
}
.transition-fast{
    animation: slideInFromRight 0.3s ease-out forwards;
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }